@font-face {
    font-family: "Evolventa-Regular";
    src: url('../Evolventa-Regular.ttf');
    font-weight: normal;
    font-style: normal;
  }

#AskList{
	background-color: #FFFFFF;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	justify-content: flex-start;
	align-items: center;
	flex-direction: row;
	
	
	
}
.questionText {
	font-size: xx-large;
	font-weight: 600;
	padding-bottom: 40px 0 26px 0;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: row;
	margin-bottom: 5vh;
	margin-top: 5vh;
	font-family: "Evolventa-Regular-Bold";
	
}

.askItem {
	font-size: 16px;
	color: black;
	display: flex;
	justify-content:space-between;
	align-items: center;
	
	flex-direction: row;
	
}
#AskList{

}

.numbersContainer {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	
	
}

.number {
	font-size: 30px;
	align-items: center;
	justify-content: center;
	
}

.lineContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 4vh;
	color:#63A015;
	
	
	
}

.line {
	/*   */
	
}


.active {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: large;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	border: 1px solid grey;
}

.input {
	background-color: white; 
	border-radius: 10px;
	width: 500px;
	height: 50px;
	margin: 10px 0 10px 0;
	
	

}

.basicAsk {
	background-color: #FFFFFF;
	display: flex;
	flex-direction: row;
	padding: 10px 0 10px 0 ;
}


.fiveSlide {
	display: flex;
	justify-content: center;
	align-items: center;
	
}


#main-container0qiz{
	
background-color: rgb(0, 0, 0);
justify-content: flex-start;
	align-items: center;
	flex-direction: row;
}

.askWrapper {
	margin-right: 2%;
	width: 50%;
	height: 30%;
	background-color: #FFFFFF;
	padding-left: 5%;
	padding-right: 3%;
	font-family: "Evolventa-Regular";
	
}
.button001{
	display: flex;
	justify-content: space-between;
	flex-direction: row-reverse;
	width: 100%;
	margin-bottom: 2%;
	margin-top: 4%;
}

.submitButton{
	width: 160px;
    height: 38px;
    border: 50;
  	border-radius: 20px;
  	background: transparent;
	color: #63A015;
	border-color: #63A015;
	font-weight: 700;
}
.submitButton:hover{
	animation: slidein;
    background-color: #63A015;
    border-color: #63A015;
    color: #ffffff;
}

.nextButton{
	width: 160px;
    height: 38px;
    border: 50;
  	border-radius: 20px;
  	background: transparent;
	color: #63A015;
	border-color: #63A015;
	font-weight: 700;
}
.nextButton:hover{
	animation: slidein;
    background-color: #63A015;
    border-color: #63A015;
    color: #ffffff;
}
.backButton{
	color: #B8B8B8;
	font-weight: 700;
	font-size: 16px;
	background: none;
	border: none;
}
.backButton:hover{
	animation: slidein;
    color: black;
}
.checkBox{
	background-color: #63A015;
	color: #63A015;
	width: 32px;
    height: 32px;
}
@media(max-width: 630px) {
	.askWrapper{
		width: 75%;
	}


}