.burgerColntainer {
	width: 50%;
	height: 100vh;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	position: fixed;
	z-index: 5;
	top: 10vh;
	left: 0;
	flex-direction: column;
}
/* #a.button_222{
	text-decoration: none;
	color: #efefef;
} */


.burgerClose {
	display: none;
	
}
#button_111#linkArror{
	color: orange;

}

.burgerStandart {
	display: none;
	
	
}
/* #logotip_main_main{
	margin-top: 11vh;
} */

.contentScroll {
	overflow-y: hidden;
	width: 100%;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 4;
	content: '';
}
.firstContainerLight{
	display: flex;
}

@media (max-width: 1000px) {
	.burgerStandart {
		display: flex;
		justify-content: flex-end;
		align-self: center;
		padding-right: 5%;
		width: 100%;
		
		
	}
	.burgerColntainer{
		display: flex;
		justify-content: flex-start;
		align-self: self-start;
		padding: 20px;
		background-color: #efefef;
		width: 50%;
		border-top: medium solid grey;
		opacity: 0.9;
	}
	#menu-111{
		display: flex;
		font-size: 30px;
		font-weight: 900;
		padding: 50px 0 10px 0;
	}
	#menu-114{
		font-weight: 700;
	}
	#menu-115{
		font-weight: 700;
	}




}